/* ABOUT-PAGE */
/* ABOUT-PAGE */
.about {
    font-family: "Recursive", sans-serif;
    color: #fff;
    padding-top: 50px;
    animation: appear 1s ease;
  
  }
  /* @keyframes appear {
    0% {
        transform: translate(0, 10px);
    }
    25% {
      transform: translate(0, 20px);
  }
    50% {
        opacity: 1;
        transform: translate(0, 30px);
    }
    0% {
      transform: translate(0, 20px);
  }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
  } */
  .about .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50px;
    padding-top: 30px;
    color: #fad02c;
    text-shadow: 0 0 22px yellow;
  }
  /* .about .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 150px;
    height: 3px;
    background: rgb(255, 255, 255);
    transform: translateX(-50%);
  }
  .about .title::after {
    content: "who i am";
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 20px;
    color: #fad02c;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
  } */
  .about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .about .about-content .left {
    width: 45%;
  }
  .about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
  }
  .about .about-content .right {
    width: 55%;
    z-index: 999;
  }
  .about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .about .about-content .right .text span {
    color: #fad02c;
  }
  .about .about-content .right p {
    text-align: justify;
    font-size: 20px;
  }
  .about .about-content .right a {
    display: inline-block;
    background: #fad02c;
    color: #fff;
    font-size: 20px;
    padding: 1px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #fad02c;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
  }
  
  .about .about-content .right a:hover {
    color: #fad02c;
    background: none;
  }
  
  @media(max-width: 1250px){
    .about{
      padding-top: 100px;
    }
  }
  @media(max-width: 1050px){
    .about .about-content .left img{
      display: none;
    }
    .about .about-content .right{
      width: 100%;
    }
    .about .about-content .right{
      padding-top: 50px;
    }
  }